# ── MongoDB ──────────────────────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017
MONGO_DB=nearcares

# ── Google Maps API ────────────────────────────────────────────────────────
GOOGLE_MAPS_KEY=

# ── Admin ─────────────────────────────────────────────────────────────────────
ADMIN_USER=
ADMIN_PASS=
SECRET_KEY=
